{% extends "base.html" %}
{% block head %} 
  {% load static %}
{% endblock %}

{% block title %}Bienvenido{% endblock %}
    
{% block content %}
<main>
  <div class="d-flex flex-column justify-content-center mt-5 mb-5 align-items-center">
    <div class="card">
      <div class="card-body text-center d-flex flex-column align-items-center border bg-light" style="padding: 5rem">
        <h1 class="fw-bold pb-4">¡Bienvenido/a{% if user.is_authenticated %} {{ user.last_name }} {% endif %}!</h1>
        <img alt="Logo" src="{% static 'img/logo.png' %}" class="responsive my-2" style="max-width: 100%; width: auto; height: auto;"/>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block footer %}
{% endblock footer %}