{% extends "base.html" %}
{% block head %} 
  {{ block.super }}
  {% block css %}
  {% load static %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amaranth&amp;display=swap" />
  {% endblock css %}
{% endblock %}

{% block title %}Bienvenido{% endblock %}
    
{% block content %}
<main>
  <div class="d-flex flex-column justify-content-center mt-5 mb-5 align-items-center">
    <div class="card">
      <div class="card-body text-center d-flex flex-column align-items-center border bg-light" style="padding: 5rem">
        <h1 class="fw-bold">¡Bienvenidos!</h1>
        <img alt="Logo" src="{% static 'img/logo.png' %}"class="resize my-3" />
        <div class="text-center">
          <h2 class="fw-bold">Oh My Dog</h2>
          <p class="fw-bold" style="
              color: #b5a166;
              font-style: italic;
              font-family: Amaranth, sans-serif;
              text-align: center;
              letter-spacing: 1px;
            ">
            Pruebawa
          </p>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock %}