{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<nav class="navbar sticky-top navbar-expand-md bg-light" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/hueso.png' %}" alt="Logo" width="60" height="50" class="d-inline-block align-text-middle ms-3">
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-2">
          {% if user.is_authenticated %}
            <li class="nav-item dropdown opt-nav-center">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 0%;">
                Perros
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                  {% if perms.OMDApp.is_client %}
                    <li><a class="dropdown-item" href="{% url 'my_dogs' %}">Mis perros</a></li>
                  {% endif %}
                  {% if perms.OMDApp.is_client or perms.OMDApp.is_vet %}
                    <li><a class="dropdown-item" href="{% url 'adoption_dog_list' %}">Perros en adopción</a></li> <!--clivet-->
                    <li><a class="dropdown-item" href="{% url 'adopted_dogs' %}">Perros adoptados</a></li> <!--clivet-->
                  {% endif %}
              </ul>
            </li>
          {% endif %}

          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 0%;">
                Turnos
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
              {% if perms.OMDApp.is_client %}
                <li><a class="dropdown-item" href="{% url 'askForTurn' %}">Pedir turno</a></li>
                <li><a class="dropdown-item" href="{% url 'myTurns' %}">Mis turnos</a></li>
              {% endif %}
              {% if perms.OMDApp.is_vet %}
                <li><a class="dropdown-item" href="{% url 'pendingTurns' %}">Turnos pendientes</a></li>
                <li><a class="dropdown-item" href="{% url 'acceptedTurns' %}">Turnos aceptados</a></li>
              {% endif %}
              </ul>
            </li>
          {% endif %}
          <div class="vr"></div>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 0%;">
                {{ user.first_name }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{% url 'profile' %}">Perfil</a></li>
                {% if perms.OMDApp.is_vet %}
                  <li><a class="dropdown-item" href="{% url 'register' %}">Registrar cliente</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
            </ul>
          </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'login' %}">Iniciar sesión</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>