{% extends 'base.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock css %}

{% block title %} Campañas de Donaciones{% endblock title %}
{% block content %}
{% if view_donations %}
    <h1 class="text-center fw-semibold mb-4">Campañas de donacion {% if view_finalized_donations %}finalizadas{% endif %}</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
        {% if view_finalized_donations %}
            <a href="{% url 'viewCampaigns' %}" class="btn btn-secondary">Atrás</a>
        {% else %}
            {% if perms.OMDApp.is_vet %}
                <a href="{% url 'registerEvent' %}" class="btn btn-primary">Crear Campaña</a>
            {% endif %}
                <a href="{% url 'listFinalizedDonations' %}" class="btn btn-primary">Ver campañas finalizadas</a>
            {% if perms.OMDApp.is_client %}
                <a href="{% url 'myDonations' %}" class="btn btn-primary">Mis donaciones</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="row mt-3 mb-2">
        <div class="col-md-12 table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th><strong>Nombre</strong></th>
                        <th><strong>Monto estimado</strong></th>
                        <th><strong>Monto recaudado</strong></th>
                        <th><strong>Fecha comienzo</strong></th>
                        <th><strong>Fecha final</strong></th>
                        {% if not view_finalized_donations or perms.OMDApp.is_vet %}<th><strong>Opciones</strong></th>{% endif %}
                    </tr>
                </thead> 
                <tbody>
                    {% for campana in view_donations %}
                        <tr>
                            <td class="vertical-align-middle"><strong>{{campana.name}}</strong></td>
                            <td class="vertical-align-middle">{{campana.estimated_amount}}</td>
                            <td class="vertical-align-middle">{{campana.colected_amount}}</td>
                            <td class="vertical-align-middle">{{campana.date_in}}</td>
                            <td class="vertical-align-middle">{{campana.date_out}}</td>
                            
                                {% if perms.OMDApp.is_vet %} 
                                <td class="vertical-align-middle">
                                    <a href="{% url  'listCampaignDonations' campana_id=campana.id %}" class="btn btn-secondary btn-sm">Ver donaciones</a>
                                </td>
                                {% elif not view_finalized_donations %}
                                <td class="vertical-align-middle">
                                    <a href="{% url 'registerDonation' campana_id=campana.id %}" class="btn btn-secondary btn-sm">Donar</a>
                                </td>
                                {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <h1 class="text-center fw-semibold mb-4">No hay campañas de donacion {% if view_finalized_donations %}finalizadas{% else %}activas{% endif %}</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
        {% if view_finalized_donations %}
            <a href="{% url 'viewCampaigns' %}" class="btn btn-secondary">Atrás</a>
        {% else %}
            {% if perms.OMDApp.is_vet %}
                <a href="{% url 'registerEvent' %}" class="btn btn-primary">Crear Campaña</a>
            {% endif %}
                <a href="{% url 'listFinalizedDonations' %}" class="btn btn-primary">Ver campañas finalizadas</a>
            {% if perms.OMDApp.is_client %}
                <a href="{% url 'myDonations' %}" class="btn btn-primary">Mis donaciones</a>
            {% endif %}
        {% endif %}
    </div>
{% endif %}
{% endblock content %}