{% extends 'base.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

{% block title %} Turnos pendientes {% endblock title %}
{% block content %}
{% if turn_list %}
  <div class="container d-flex flex-column justify-content-center mb-3">
      <h1 class="text-center fw-semibold mb-4">Turnos pendientes</h1>
        {% for turn in turn_list %}
          <div class="card mt-3 border-secondary ">
            <h5 class="card-header">Tipo de turno: <strong>{{ turn.type }}</strong></h5>
            <div class="card-body">
              <h5 class="card-title"><strong>Fecha:</strong> {{ turn.date }}</h5>
              <p class="card-text"><strong>Motivo:</strong> {{ turn.motive }} </p>
              <button class="btn btn-primary" type="submit">Aceptar</button>
              <button class="btn btn-secondary" type="submit">Rechazar</button>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% else %}
  <h1 class="text-center fw-semibold mb-4">No hay turnos pendientes</h1>
{% endif %}
{% endblock content %}