{% extends 'base.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

{% block title %} Atendiendo turno {% endblock title %}
{% block content %}
<body class="form-signin w-100 m-auto">
	<div class="container py-5 form_width">
		<h1 class="text-center fw-semibold mb-4">Atender un turno</h1>
        <div class="mb-3">
            <div class="d-grid gap-2 gap-md-4 d-md-flex justify-content-md-center">
                <div class="col">
                    <label for="name" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="name" value="{{ dog.name }}" disabled>
                </div>
                <div class="col">
                    <label for="birthdate" class="form-label">Fecha de nacimiento:</label>
                    <input type="text" class="form-control" id="birthdate" value="{{ dog.birthdate|date:'d/m/Y' }}" disabled>
                </div>
            </div>  
        </div>
        <div class="mb-3">
            <div class="d-grid gap-2 gap-md-4 d-md-flex justify-content-md-center">
                <div class="col">
                    <label for="breed" class="form-label">Raza:</label>
                    <input type="text" class="form-control" id="breed" value="{{ dog.breed }}" disabled>
                </div>
                <div class="col">
                    <label for="color" class="form-label">Color:</label>
                    <input type="text" class="form-control" id="color" value="{{ dog.color }}" disabled>
                </div>
            </div>  
        </div>

        <form method="POST">
			{% csrf_token %}

			{% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {% if field.field.widget.input_type == 'number' %}
                    <input type="number" class="form-control {% if field.errors %}is-invalid{% endif %}" id="{{ field.id_for_label }}"
                            name="{{ field.html_name }}" placeholder="{{ field.field.widget.attrs.placeholder }}"
                            {% if field.value %} value="{{ field.value|stringformat:'.2f' }}" {% endif %}>
                {% else %}
                    <input type="{{ field.field.widget.input_type }}" class="form-control {% if field.errors %}is-invalid{% endif %}" id="{{ field.id_for_label }}"
                        name="{{ field.html_name }}" placeholder="{{ field.field.widget.attrs.placeholder }}"
                        {% if field.value %} value="{{ field.value }}" {% endif %}>
                {% endif %}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <small class="form-text text-danger">{{ error|escape|linebreaks }}</small>
                {% endfor %}
            </div>
        {% endfor %}
			
			<div class="d-grid gap-2 d-md-flex justify-content-md-center mt-auto py-4">
				<button class="btn btn-primary" type="submit">Finalizar atención</button>
				<a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
			</div>
		</form>
	</div>
</body>
{% endblock content %}

