{% extends 'base.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

{% block title %} Turnos{% if turns == "P" %} pendientes{% elif turns == "A" %} aceptados{% endif %}{% endblock title %}
{% block content %}
{% if turn_list %}
  <div class="container py-5 form_width mb-5">
      <h1 class="text-center fw-semibold mb-4 pb-3">Turnos{% if turns == "P" %} pendientes{% elif turns == "A" %} aceptados{% endif %}</h1>
        {% for turn in turn_list %}
          <div class="card mt-3 border-secondary">
            <h5 class="card-header text-center"><strong>{{ turn_type_mapping|get_item:turn.type }}</strong></h5>
            <div class="card-body">
              <div class="row">
                <div class="col-md-auto">
                  <h6 class="card-title"><strong>Fecha:</strong> {{ turn.date|date:'d/m/Y' }}</h6>
                  <p class="card-text mt-3"><strong>Horario:</strong> {{ turn_hour_mapping|get_item:turn.hour }} </p>
                  {% if turn.motive %}<p class="card-text"><strong>Motivo:</strong> {{ turn.motive }} </p>{% endif %}
                  {% if turns == "U" %}
                    <p class="card-text"><strong>Estado:</strong> {% if turn.state == "S" %}Solicitado{% elif turn.state == "A" %}Aceptado{% endif %} </p>
                  {% endif %}
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-lg-center justify-content-center mt-3">
                  {% if turns == "P" %}
                    <a href="{% url 'acceptTurn' turn_id=turn.id %}" class="btn btn-primary-custom">Aceptar</a>
                    <a href="{% url 'rejectTurn' turn_id=turn.id %}" class="btn btn-secondary">Rechazar</a>
                  {% elif turns == "A" %}
                    <a href="/" class="btn btn-primary-custom">Atender</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% else %}
  <h1 class="text-center fw-semibold mb-4">No hay turnos{% if turns == "P" %} pendientes{% elif turns == "A" %} aceptados{% endif %}</h1>
{% endif %}
{% endblock content %}