{% extends 'base.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

<!--turns='P' -> pending turns : turns='A' -> accepted turns : turns='U' : user's turns-->
{% block title %} Turnos{% if turns == "P" %} pendientes{% elif turns == "A" %} aceptados{% endif %}{% endblock title %}
{% block content %}
{% if turn_list %}
  <div class="container py-5 form_width mb-5">
      <h1 class="text-center fw-semibold mb-4 pb-3">Turnos{% if turns == "P" %} pendientes{% elif turns == "A" %} aceptados{% endif %}</h1>
        {% for turn in turn_list %}
          <div class="card mt-3 border-secondary">
            <h5 class="card-header text-center"><strong>{{ turn_type_mapping|get_item:turn.type }}</strong></h5>
            <div class="card-body">
              <div class="row">
                <div class="col-md-auto mx-auto">
                  {% if perms.OMDApp.is_client %}
                  <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Horario</th>
                            <th>Motivo</th>
                            <th>Estado</th>
                            <th>Perro</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ turn.date|date:'d/m/Y' }}</td>
                            <td>{{ turn_hour_mapping|get_item:turn.hour }}</td>
                            <td>{% if turn.motive %}{{ turn.motive }}{% else %}-{% endif %}</td>
                            <td>{% if turn.state == "S" %}Solicitado{% elif turn.state == "A" %}Aceptado{% endif %}</td>
                            <td>{{ turn.solicited_by.name }}</td>
                        </tr>
                    </tbody>
                  </table>
                  {% elif perms.OMDApp.is_vet %}
                  <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Horario</th>
                            <th>Motivo</th>
                            <th>Solicitante</th>
                            <th>Perro</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ turn.date|date:'d/m/Y' }}</td>
                            <td>{{ turn_hour_mapping|get_item:turn.hour }}</td>
                            <td>{% if turn.motive %}{{ turn.motive }}{% else %}-{% endif %}</td>
                            <td>{{ turn.solicited_by.owner.first_name }} {{ turn.solicited_by.owner.last_name }}</td>
                            <td>{{ turn.solicited_by.name }}</td>
                            <td class="gap-2">
                              <a href="{% url 'dog_health_book' dog_id=turn.solicited_by.id %}" class="btn btn-sm btn-outline-primary">Libreta</a>
                              <a href="{% url 'dog_clinic_history' dog_id=turn.solicited_by.id %}" class="btn btn-sm btn-outline-primary">Historial</a>
                            </td>
                        </tr>
                    </tbody>
                  </table>
                  {% endif %}
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-lg-center justify-content-center mt-3">
                  {% if turns == "P" %}
                    <a href="{% url 'acceptTurn' turn_id=turn.id %}" class="btn btn-primary-custom">Aceptar</a>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#rejectModal-{{turn.id}}" data-bs-whatever="@getbootstrap">
                      Rechazar
                    </button>

                    <!--Modal-->
                    <div class="modal fade" id="rejectModal-{{turn.id}}" data-bs-backdrop="static" bindex="-1" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmación de rechazo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form method="POST" action="{% url 'rejectTurn' turn_id=turn.id %}">
                              {% csrf_token %}
                              <div class="mb-3">
                                <label for="message-text" class="col-form-label">Motivo:</label>
                                <textarea class="form-control" id="message-text" name="motive"></textarea>
                              </div>
                              <div class="float-end">
                                <button type="button" class="btn btn-primary-custom" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-secondary">Rechazar</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                  {% elif turns == "A" and turn.date|date:'d/m/Y' == todays_date|date:'d/m/Y' %}
                    <a href="{% url 'attendTurnView' turn_id=turn.id %}" class="btn btn-primary-custom">Atender</a>
                  {% elif turns == "U" %}
                  <a href="{% url 'cancelTurn' turn_id=turn.id %}" class="btn btn-primary-custom">Cancelar</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% else %}
  <h1 class="text-center fw-semibold mb-4">No hay turnos{% if turns == "P" %} pendientes{% elif turns == "A" %} aceptados{% endif %}</h1>
{% endif %}
{% endblock content %}

{% block js %}
<style>
  td {
    text-align: center;
    vertical-align : middle;
  }
</style>
{% endblock %}