{% extends 'base.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

{% block title %}Historial clínico{% endblock title %}
{% block content %}
{% if turns %}
  <div class="container py-5 form_width mb-5">
      <h1 class="text-center fw-semibold mb-4 pb-3">Historial clínico de {{ name }}</h1>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-auto py-4">
        {% if perms.OMDApp.is_client %}
            <a href="{% url 'dog_profile' dog_id=dog.id %}" class="btn btn-secondary">Atrás</a>
        {% elif perms.OMDApp.is_vet %}
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Atrás</a>
        {% endif %}
      </div>
        {% for turn in turns %}
          <div class="card mt-3 border-secondary">
            <h5 class="card-header text-center"><strong>{{ turn_type_mapping|get_item:turn.type }}</strong></h5>
            <div class="card-body">
              <div class="row">
                <div class="col-md-auto">
                  <p class="card-title"><strong>Fecha:</strong> {{ turn.date|date:'d/m/Y' }}</p>
                  <p class="card-text mt-3"><strong>Horario:</strong> {{ turn_hour_mapping|get_item:turn.hour }} </p>
                  {% if turn.motive %}<p class="card-text"><strong>Motivo:</strong> {{ turn.motive }} </p>{% endif %}
                  <p class="card-text"><strong>Costo:</strong> {{ turn.amount }} </p>
                  <p class="card-text"><strong>Veterinario a cargo:</strong> {{ turn.accepted_by.user.first_name }} {{ turn.accepted_by.user.last_name }}</p>
                  {% if turn.type == 'U' %}
                    <p class="card-text">
                      <strong>Intervenciones:</strong>
                      {% for operacion in turn.urgency_turns|json_to_list %}
                        {% if forloop.last %}
                          {{ turn_type_mapping|get_item:operacion }}.
                        {% else %}
                          {{ turn_type_mapping|get_item:operacion }},
                        {% endif %}
                      {% empty %}
                        No se realizaron intervenciones.
                      {% endfor %}
                    </p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
{% else %}
  <h1 class="text-center fw-semibold mb-5">Todavía no existe un historial clínico para este perro.</h1>
  <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-auto py-4">
    {% if perms.OMDApp.is_client %}
        <a href="{% url 'dog_profile' dog_id=dog.id %}" class="btn btn-secondary">Atrás</a>
    {% elif perms.OMDApp.is_vet %}
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Atrás</a>
    {% endif %}
  </div>
{% endif %}
{% endblock content %}