{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
  .image-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%; /* Set the aspect ratio (e.g., square aspect ratio) */
  }
  
  .image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
  }
</style>
{% endblock css %}

{% block content %}
<div class="container d-flex flex-column justify-content-center mt-5 mb-5 align-items-center">
  <h1 class="text-center fw-semibold mb-4">Mis perros</h1>
    <a href="{% url 'registerSingleDog' %}" class="btn btn-secondary">Registrar perro</a>
    <div class="row justify-content-center mt-3">
    {% for dog in dog_list %}
    {% if four_dogs %}
      <div class="col-sm-6 col-md mb-4">
    {% else %}
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
    {% endif %}
      <div class="card h-100">
        {% if dog.image %}
        <div class="image-wrapper">
          <img src="{{ dog.image }}" class="card-img-top rounded-circle" alt="Foto de perfil de perro">
        </div>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title text-center"><strong>{{ dog.name }}</strong></h5>
          <div class="card-text">
            <p><strong>Raza:</strong> {{ dog.breed }}</p>
            <p><strong>Edad:</strong> {{ dog.age }} </p>
            <div class="card-footer bg-white text-center">
              <a href="{% url 'dog_profile' dog_id=dog.id %}" class="btn btn-primary">Perfil</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}