{% extends 'base.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

{% block title %} Perfil {% endblock title %}

{% block content %}
<div class="container py-5 form_width mb-5">
  <h1 class="text-center fw-semibold mb-4">Perfil de {{ dog.name }}</h1>
  {% if dog.image %}
  <div class="mb-3 text-center">
    <img src="{{ dog.image.url }}" alt="Foto de perfil de perro" width=250 >
  </div>
  {% endif %}
  <div class="mb-3">
    <label for="first_name" class="form-label">Nombre:</label>
    <input type="text" class="form-control" id="name" value="{{ dog.name }}" disabled>
  </div>
  <div class="mb-3">
    <label for="last_name" class="form-label">Raza:</label>
    <input type="text" class="form-control" id="breed" value="{{ dog.breed }}" disabled>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Color:</label>
    <input type="text" class="form-control" id="color" value="{{ dog.color }}" disabled>
  </div>
  <div class="mb-3">
    <label for="birthdate" class="form-label">Fecha de nacimiento:</label>
    <input type="text" class="form-control" id="birthdate" value="{{ dog.birthdate }}" disabled>
  </div>
  {% if dog.observations %}
    <div class="mb-3">
      <label for="birthdate" class="form-label">Observaciones:</label>
      <input type="text" class="form-control" id="observations" value="{{ dog.observations }}" disabled>
    </div>
  {% endif %}
  <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-auto py-4">
    <a href="{% url 'dog_health_book' dog_id=dog.id %}" class="btn btn-primary">Libreta sanitaria</a>
    <a href="{% url 'dog_clinic_history' dog_id=dog.id %}" class="btn btn-primary">Historial clínico</a>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-auto py-4">
    <a href="{% url 'dog_edit_profile' %}" class="btn btn-primary">Editar</a>
    <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
  </div>
</div>
{% endblock %}
