
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm">
                <thead>
                    <tr>
                        <th><strong>Nombre del Perro</strong></th>
                        <th><strong>Raza del Perro</strong></th>
                        <th><strong>Edad del Perro</strong></th>
                        <th><strong>Zona</strong></th> 
                    </tr>
                </thead>  
                    <tr>
                        <td class="vertical-align-middle">{{PPEA.name}}</td>
                        <td class="vertical-align-middle">{{PPEA.breed}}</td>
                        <td class="vertical-align-middle">{{PPEA.age}}</td>
                        <td class="vertical-align-middle">{{PPEA.zone}}</td>
                    </tr>
            </div>
        </div>
    </div>
</body>