{% extends 'base.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock css %}

{% block content %}
<!--Password change-->
<body class="form-signin w-100 m-auto">
	<div class="container py-5 form_width">
		<h1 class="text-center fw-semibold mb-4">Cambiar contraseña</h1>
		<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
	
            <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-auto py-4">
                <button class="btn btn-primary" type="submit">Cambiar contraseña</button>
                {% if not first_time %}
                    <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
                {% else %}
                    <a href="{% url 'logout' %}" class="btn btn-secondary">Cerrar sesion</a>
                {% endif %}
            </div>
			<p class="mt-5 mb-3 text-muted">&copy; Ingeniería de software II - Grupo 27</p>
	
		</form>
	</div>
</body>
{% block footer %}{% endblock %}

{% endblock %}

<style>

</style>