{% extends 'base.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/list.css' %}">

{% endblock css %}

{% block content %} 
<div class="container py-5 justify-content-center align-items-center"> 
    <h1 class="text-center fw-semibold mb-4">Listado de usuarios</h1>

    {% if model_list %}

    <div class="row mt-3 mb-2">
        <div class="col-md-12 table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th><strong>Nombre</strong></th>
                        {% if is_user %}
                            <th><strong>DNI</strong></th>
                        {% else %}
                            <th><strong>Raza</strong></th>
                        {% endif %}
                        <th><strong>Opciones</strong></th>
                    </tr>
                </thead>
                <tbody>
                    {% for model in model_list %}
                        <tr>
                            <td class="vertical-align-middle">{% if is_user %}{{model.first_name}} {{model.last_name}}{% else %}{{model.name}}{% endif %}</td>
                            <td class="vertical-align-middle">{% if is_user %}{{model.dni}}{% else %}{{model.breed}}{% endif %}</td>
                            <td class="vertical-align-middle">
                                {% if is_user %}
                                    <a href="{% url 'selectUsersDog' user_id=model.id %}" class="btn btn-secondary btn-sm">Seleccionar perro</a>
                                {% else %}
                                    <a href="{% url 'generateUrgency' dog_id=model.id %}" class="btn btn-secondary btn-sm">Seleccionar</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <h1 class="text-center fw-semibold mb-4">No hay usuarios registrados</h1>
    {% endif %}

</div>
{% endblock %}